body{
	font-family: sans-serif;
	background-color: #000;

}

h1{
	text-align: center;
	color:blue;
	margin:30px 0 50px;

}
.gallery{
	margin:10px 50px;
}
.gallery img{
	width:230px;
	padding:5px;
	filter: drop-shadow(100%);
	transition: 1s;
}
.gallery img:hover{
	filter:drop-shadow(0);
	transform:scale(1.1);
}