body{
	margin:0;
	padding:0;
	background:url(one.jpg);
	background-size:cover;
	background-position:centre;
	font-family:sans-serif;
}

.loginbox{
    width:320px;
	height:380px;
	background:#191970;
	color:#fff;
	top:50%;
	left:30%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	padding:70px 30px;
}

.img{
	width:100px;
	height:100px;
	border-radius:50%;
	position: absolute;
	top:-50px;
	left:calc(50% - 50px);
}
h1{
	margin:0;
	padding:0 0 20 px;


	text-align:center;
	font-size:22px;
}

.loginbox p{
	margin: 0;
	padding:0;
	font-weight:bold;
}
.loginbox input{
	width:100%;
	margin-bottom:20px;
}


.loginbox input[type="text"],input[type="password"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
}
	
.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:30px;
	background:#00bfff;
	color:#fff;
	font-size:18px;
	border-radius:40px;
}

.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:#00bfff;
	color:#000;
}
.loginbox a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:darkgrey;
}

.loginbox a:hover
{
	color:#000;
}
